.main {
  padding: 1rem 0 1.5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
}
.gallery {
  width: 90vw;
}

.row {
  width: 100%;
  min-height: 150px;
}

.rowContainer {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.recipe {
  border-radius: 0.5rem;
  border: lightgray 1px solid;
}

.recipe img {
  max-width: 90%;
}

.listTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.groceryButton {
  height: fit-content;
}
