.main {
  padding: 1rem 0 1.5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
}
.gallery {
  width: 90vw;
}

.row {
  width: 100%;
  min-height: 200px;
}

.rowContainer {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.recipe {
  border-radius: 0.5rem;
  border: lightgray 1px solid;
  max-height: 30vh;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.recipeImage {
  width: 100%;
  height: 15vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.listTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.groceryButton {
  height: fit-content;
}

.newList {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
}

.listForm {
  margin-right: 1rem;
  justify-content: center;
}

.listForm button {
  height: fit-content;
}
